@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.headerGame {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    &__title {
        color: #dde9e9;
        font-family: "Inter", sans-serif;
        font-size: 40px;
        font-weight: 700;
    }

    &__button {
        width: 86px;
        height: 40px;
        border: 1px solid #097dc9;
        background-color: #097dc9;
        color: #dde9e9;
        font-size: 18px;
    }
}
